# Dépendances et build local
node_modules
.svelte-kit
build

# Environnement
.env
.env.*

# Docker
docker
docker-compose.yml
docker-compose.dev.yml
Dockerfile
.dockerignore

# Drizzle
drizzle.config.ts

# Qualité de code
eslint.config.js

# Scripts dev-only
scripts/migrate-postgres-to-mariadb.ts

# Docs & meta
*.md
LICENSE
.git
.gitignore

# IDE
.cursor
.vscode
